body { 
  background: #034f84 !important;
}

p {
    font-family: "QuickSand", sans-serif;
}

h1 {
    font-family: "QuickSand", sans-serif;
}
h2 {
    font-family: "QuickSand", sans-serif;
}

h3 {
    font-family: "QuickSand", sans-serif;
}

table {
    font-family: "QuickSand", sans-serif;
}

Div {
  margin: 60px;
  background: #fdfdfc;
}

img {
    max-width:100% ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #4CAF50;
  }

  pre {
    width: 100%;
    padding: 10;
    margin: 5;
    overflow: auto;
    overflow-y: hidden;

    display: block;
    unicode-bidi: embed;
    font-family: monospace;

    line-height: 30px;
    background: rgb(228, 228, 228);
  }
  pre code {
    padding: 10px;
    color: #333;
  }

header {
  background: #033b63;
  padding: 20;
  color: white;
  /* text-align: center; */
  font-size: medium;
  display: block;

  overflow: auto;
  overflow-y: hidden;
}

footer {
  background: #033b63;
  padding: 30;
  color: white;
  text-align: center;
}
